* {
    margin: 0;
}

body {
    background-color: rgb(199, 235, 250);
    color: rgb(66, 2, 78);
}

h1 {
    text-align: center;
    font-size: 42px
}

p {
    text-align: justify;
    margin: 10px;
    font-size: 20px
}

#topnav {
    position: fixed;
    background-color: rgb(147, 190, 255);
    width: 100%;
}

/* переопределить ссылки */
a {font-size:25px; bold; text-decoration:none;}
a:link {color:green}
a:visited {color:green}
a:hover {color:blue;}
a:active {color:red}

/* решение для меню корректируется вручную */
.navtab th {
 width: 25%;
}

#maincon {
    position: absolute;
	padding: 10px;
    background-color: rgb(135, 243, 132);
    left: 10%;
    right: 10%;
}

      li {
        color: blue;
        list-style-type: none;
      }

code {
    text-align: justify;
    font-size: 20px;
    font-family: Monospace;
    color: blue;
}